<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>le chinema</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.min.css">
        {% for css in resources['css'] %}
            <link rel="stylesheet" href="{{css}}">
        {% endfor %}
    </head>
    <body data-page="{{ data }}">
        <div class="container">
            <div id="app"></div>
            {% for js in resources['js'] %}
                <script src="{{js}}"></script>
            {% endfor %}
        </div>
    </body>
</html>
