<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>le chinema</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <form method="get" action=" {{ upload_url }} ">
        <label for="groupId">Group ID</label><input type="text" id="groupId">
        <label for="playlistId">Playlist ID</label><input type="text" id="playlistId">
      </form>
    </body>
</html>
